<div id="<%= dom_id infection %>">
  <p>
    <strong>Description:</strong>
    <%= infection.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= infection.active %>
  </p>

  <p>
    <strong>Bacterium:</strong>
    <%= infection.bacterium_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= infection.user_id %>
  </p>

</div>
