<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Hospital Infection Control - HIC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <% if policy(Bacterium).index? %>
        <%= link_to "Bactéria", bacteria_path %>
      <% end %>
      <%= link_to "Infecção", infections_path %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
